.add-icon {
  width: 200px;
  height: 200px;
  border-radius: 25px;
  background: rgb(226, 226, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid rgb(209, 209, 209);
}
.add-icon:hover {
  background: rgb(202, 202, 202);
}
.add-icon .plus {
  font-size: 60px;
}
