.dashboard {
  display: flex;
  gap: 20px;
  min-height: calc(100vh - 70px);
  padding: 30px;
  flex-direction: column;
}

.dashboard .recent {
  margin-top: 50px;
}
.dashboard .recent .items {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
