.dashboard {
  display: flex;
  gap: 20px;
  min-height: calc(100vh - 70px);
  padding: 30px;
  flex-direction: column;
}

.dashboard .actions {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.dashboard .reader-container {
  position: fixed;
  left: 50%;
  max-width: 600px;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: var(--c-pri-dark);
  border-radius: 5px;
  z-index: 999;
}
.dashboard .reader-container button {
  padding: 15px;
  width: 100%;
}
.dashboard .reader-container section {
  max-height: 400px;
  height: auto;
}
.dashboard .reader-container section div {
  position: unset !important;
}
.dashboard .reader-container video {
  height: auto !important;
}

.dashboard .recent {
  margin-top: 50px;
}
.dashboard .recent .items {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.dashboard .addItem {
  max-width: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
.dashboard .addItem input {
  padding: 10px;
  width: 100%;
  background: rgb(226, 226, 226);
  border: none;
}
.dashboard .addItem .buttons {
  display: flex;
  gap: 15px;
  align-self: flex-end;
}
.dashboard .addItem .buttons button {
  width: 100px;
}
