.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.auth form {
  padding: 50px 20px;
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.auth form h1 {
  margin-bottom: 20px;
  color: var(--c-pri);
}
.auth form button,
.auth form input {
  width: 100%;
}
.auth form button {
  padding: 15px;
}
.auth form .field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.auth form input {
  padding: 10px;
  border: 1px solid var(--c-pri-light);
  border-radius: 5px;
}
.auth form label {
  color: var(--c-pri-light);
}
