.pricing-card {
  height: 420px;
  width: 300px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  display: grid;
  padding: 30px;
  grid-template-rows: 50px 1fr;
}
.pricing-card h3 {
  color: var(--c-acc);
  text-align: center;
  border-bottom: 1px solid rgb(190, 190, 190);
}
.pricing-card .bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.pricing-card .bottom .price {
  font-size: 2.5rem;
}
.pricing-card .bottom .price span {
  font-size: 16px;
}
.pricing-card .bottom button {
  padding: 15px 20px;
  background: var(--c-pri-light);
  color: #fff;
  font-size: 1rem;
  transition: background 0.5s ease;
}
.pricing-card .bottom button:hover {
  background: #fff;
  border: 2px solid var(--c-pri-light);
  color: var(--c-pri);
  padding: 13px 18px;
}
.pricing-card .feature-list {
  display: flex;
  justify-content: center;
}
.pricing-card .feature-list li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.pricing-card #check {
  height: 20px;
  width: 20px;
}

.pricing-card .billing {
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
}
