.App {
  background: var(--c-pri);
}
.container {
  min-height: 100vh;
  gap: 20px;
}
.container input {
  padding: 10px 20px;
  max-width: 400px;
  width: 100%;
}
.container button {
  cursor: pointer;
  padding: 10px 20px;
}
