.App {
  background: aliceblue;
  padding: 0 30px;
}
.header {
  background: var(--c-pri);
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  color: #fff;
  padding: 0 30px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}
.header .links {
  display: flex;
  gap: 20px;
}
.container {
  min-height: 100vh;
  gap: 20px;
}
.container input {
  padding: 10px 20px;
  max-width: 400px;
  width: 100%;
  border: none;
  background: var(--c-sec);
  border-radius: 5px;
}
.container button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: var(--c-acc);
  color: #ffff;
}
