* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  flex-direction: column;
}
:root{
  --c-pri:#74BDCB;
  --c-sec: #FFA384;
}
